@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+HK:wght@200&display=swap');



html {
    scroll-behavior: smooth;
}

/********************** GENERAL  ******************************/
body {
    font-family: 'Noto Serif HK', sans-serif;
    padding: 0;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

h2 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    font-size: 2em;
}

a {
    text-decoration: none;
    color: black;
}

/***************** BARRE DE NAVIGUATION  **********************/

nav {
    overflow: hidden;
    background-color: #E4D4C8;
    position: fixed;
    width: 100%;
    opacity: 0.9;
}

header li {
    float: right;
    font-size: 1.2em;
}

header li a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 18px 16px;
}

#logo {
    font-family: 'Satisfy', sans-serif;
    font-weight: bold;
    float: left;
}


/*********************** IMAGE PRINCIPALE  ********************/

#imagePrincipale {
    padding-top: 60px;
    background: url(./assets/hotel.jpeg) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 799px;
}

h1{
    font-family: 'Satisfy', sans-serif;
    text-align: center;
    color: #A47551;
    font-size: 6em;
    margin-top: 110px;
    text-shadow: 6px -3px 4px black;
    text-shadow: -2px 8px 2px black;

}

#premierTrait {
    height: 1px;
    width: 25%;
    margin: -3px auto;
    background-color : #523A28;
}

h3 {
    text-align: center;
    color: #A47551;
    font-size: 3em;
    text-shadow: -1px 3px 2px black;
}

/********************** PRESENTATION  ********************/

#presentation {
    background-color: #E4D4C8;
    padding: 10px 0px 100px 0px;
}

#texteIntro {
    padding: 0px 20%;
}

#prestations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 10%;
}

.imagePrestations h4 {
    font-family: 'Satisfy', sans-serif;
    text-align: center;
    font-size: 1.8em;
    margin: 15px;
}

.imagePrestations img {
    border-radius: 10px;
    box-shadow: 0px 10px 13px -7px #000000, 6px 5px 8px 2px rgba(0,0,0,0.42); 
}

.imagePrestations img:hover {
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
}

/************************ TOURISME  **********************/

#tourisme {
    height: 1400px;
    background-color: #D0B49F;
    padding: 1px 2%;
}

#tourisme h2 {
    padding-top: 60px;
}

#ocean {
    background: url(./assets/ocean.jpg);
}

#chateau {
    background: url(./assets/chateau.JPG);
}

#phare {
    background: url(./assets/phare.JPG);
}

#vignoble {
    background: url(./assets/vignes.jpg);
}

#tourisme li {
    margin: 65px 100px 0px 100px;
    height: 226px;
    width: 55%;
    max-width: 550px;
    float: left;
    box-shadow: 6px 6px 28px -1px rgba(0,0,0,0.75);
}

#tourisme p {
    height: 45px;
    width: 235px;
    float: right;
    background-color: rgba(157, 255, 222, 0.799);
    margin : 50px -180px 0 0;
    font-size: 1em;
    text-align: center;
    padding-top: 15px;
    box-shadow: 4px 4px 0 1px rgba(90,161,43,1);
    border-radius: 10%;
}

#tourisme #chateau, #tourisme #vignoble{
    float: right; 
}

#chateau p, #vignoble p {
    float: left;
    background-color: cyan;
    margin-left: -180px;
    box-shadow: -4px 4px 0 1px rgba(15,154,156,1);
}

/************************  FOOTER  *************************/

footer {
    background-color: #A47551;
    color: #FFFAE1;
    padding: 20px 0px 10px 0;
    text-align: center;
}

form {
    margin: 0 auto;
    max-width: 900px;
}

input, textarea, button {
    border: none;
    width: 55%;
    padding: 15px 10px;
    margin: 1px 0;
    font-size: 1.2em;
    font-family: 'Noto Serif HK', sans-serif;
    border-radius: 8px;
}

textarea {
    height: 120px;
}

button {
    font-size: 1.5em;
    background-color: #FFFAE1;
}

button:hover {
    background-color: #523A28;
    color:#FFFAE1;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

#deuxiemeTrait {
    height: 1px;
    width: 75%;
    background-color: #FFFAE1;
    margin: 60px auto;
}

#copyrightEtIcons {
    display: flex;
    margin-bottom: 20px;
    padding: 0 10%;
}

#copyright {
    width: 50%;
    text-align: left;
    color:#FFFAE1;
}

#icons {
    width: 50%;
    text-align: right;
}

#icons a {
    display: inline-block;
    margin: 0 15px;
    font-size: 1.3em;
    color:#FFFAE1;
}

#icons a:hover{
    transform: scale(1.5);
    transition: 0.2s;
}